<div class="mb-sm mt">
  <%= question.body %>
</div>

<div class=" text-sm question-footer">

  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>

  <div>
    <%= link_to fa_icon('pencil')+"Редактировать", edit_question_path(question) %>
    <%= button_to fa_icon('trash-o')+"Удалить", question_path(question), method: :delete%>
  </div>

</div>
