<div class="container">

  <h2 class="title-lg mt mb">Новый вопрос</h2>

  <p class="mb">
    <%= link_to "Вернуться на главную", questions_path %>
  </p>

  <%= render 'form', question: @question %>

</div>

