body {
  color: #041B15;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
  color: #136F63;
}

.title-lg {
  font-size: 175%;
}

.title-md {
  font-size: 150%;
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-gray {
  color: gray;
}